.ant-input-search {
  display: block;
  width: 400px;
}

@media screen and (max-width: 1000px) {
  .ant-input-search {
    width: 300px;
  }
}

@media screen and (max-width: 870px) {
  .ant-input-search {
    width: 250px;
  }
}

@media screen and (max-width: 810px) {
  .ant-input-search {
    width: 200px;
  }
}

@media screen and (max-width: 760px) {
  .ant-input-search {
    width: 150px;
  }
}

/* @media screen and (max-width: 660px) {
  .ant-input-search {
    width: 100px;
  }
} */

@media screen and (max-width: 600px) {
  .ant-input-search {
    width: 100px;
  }
}