.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border-left: none;
  border-right: none;
}

.ql-editor {
  height: calc(100vh - 180px);
}

@media screen and (max-width: 1720px) {
  .ql-editor {
    height: calc(100vh - 204px) !important;
  }
}

@media screen and (max-width: 1260px) {
  .ql-editor {
    height: calc(100vh - 228px) !important;
  }
}

@media screen and (max-width: 760px) {
  .ql-editor {
    height: calc(100vh - 252px) !important;
  }
}

@media screen and (max-width: 500px) {
  .ql-editor {
    height: calc(100vh - 276px) !important;
  }
}